<!-- views/confirmation.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container2">
    <h2>Registration Confirmation!</h2>
    <p>ID: <%= id %></p>
    <p>Full Name: <%= fullName %></p>
    <p>Address: <%= address %></p>
    <p>Status: <%= status %></p>
    <p>Fee: $<%= fee %></p>
</div>
</body>
</html>
